* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    width: 100%;
    min-height: 60vh;
    background: #d7d4ff;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 18%;
  }
  
  .titulo {
    display: flex;
    flex-wrap: wrap;
    width: 28%;
  }
  
  .titulo h1 {
    padding-top: 25%;
    font-family: Merriweather, sans-serif;
    font-weight: 400;
    color: #2b2b2b;
  }
  
  .titulo p {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #555555;
    padding-bottom: 40px;
  }
  
  .header-img {
    width: 40%;
    padding-top: 40px;
  }
  
  a button {
    cursor:no-drop ;
    border: none;
  }
  
  button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #6c63ff;
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: #d7d4ff;
  }

  .container{
    max-width: 960px;
    margin: 0 auto;
  }
  
  .section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card{
    width: 280px;
    margin: 0 20px;
  }
  
  .color-card {
    width: 300px;
    min-height: 210px;
    margin-top: 60px;
  }

  .card_titulo{
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0 5px 0;
  }

  .card_descricao{
    text-align: center;
    margin: 10px 0 20px 0;
  }

  .container-footer {
    width: 100%;
    min-height: 90vh;
    background: #d7d4ff;
  }
  
  .container-footer h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: Merriweather, sans-serif;
    font-weight: 400;
    color: #2b2b2b;
  }
  
  .form-container {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  
  .form {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  
  .form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 20px 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    border: none;
  }

  textarea {
    resize: none;
    width: 100%;
    outline: none;
    overflow: auto;
    border: none;
    border-radius: 5px;
    height: 100px;
    padding: 20px 15px;
  }

  .btn {
    margin-top: 20px;
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
  }

  .footer-container {
    margin: 0 auto;
    width: 100%;
    color: rgb(8, 8, 8);
    background: linear-gradient(to right, #574ae8, #3ea1db);
    padding: 40px;
    position: relative;
    text-align: center;
  }


  @media screen and (max-width: 375px) {
    .header-container {
      min-height: 100vh;
      padding: 0 5%;
    }
  
    .titulo {
      width: 100%;
    }
  
    .titulo h1 {
      font-size: 2.1em;
    }

    .titulo button {
      width: 100%;
    }
  
    .titulo p {
      font-size: 1.2em;
    }
  
    .header-img {
      width: 100%;
      min-height: 50%;
    }
  
    .form-container {
      width: 90%;
      padding-bottom: 40px;
    }
  }
  
  @media screen and (min-width: 376px) and (max-width: 768px) {
    .header-container {
      min-height: 100vh;
      padding: 0 5%;
    }
  
    .titulo {
      width: 100%;
    }
  
    .titulo h1 {
      font-size: 2.3em;
      padding-bottom: 15px;
    }
  
    .titulo p {
      font-size: 1em;
    }
  
    .header-img {
      width: 100%;
      min-height: 50%;
    }
  
    .container-footer {
      min-height: 70vh;
    }
  
    .form-container {
      width: 90%;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .header-container {
      min-height: 50vh;
      padding: 0 5%;
    }
  
    .titulo {
      width: 100%;
    }
  
    .titulo h1 {
      padding-top: 10%;
      font-size: 2.3em;
    }
  
    .titulo p {
      font-size: 2em;
    }
  
    .header-img {
      width: 90%;
      padding-bottom: 40px;
    }
  
    .container-footer {
      min-height: 50vh;
    }
  
    .form-container {
      width: 90%;
    }
  }